<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">

	<bean id="myBean" class="com.springframework.zhangsx.MyBean">
		<!--<property name="ItBean" ref="itBean"/>-->
	</bean>
	<!--<bean id="itBean" class="com.lagou.edu.ItBean">-->
	<!--	<property name="LagouBean" ref="lagouBean"/>-->
	<!--</bean>-->





</beans>